header {
    background-color: brown;
    color: white;
    position: relative;
    right: 1%;
    bottom: 21px;
    height: 100px;
    width: 1371px;
}

h1 {
    text-align: center;
    position: relative;
    top: 25px;
    font-style: italic;
}

span ul li {
    position: relative;
    bottom: 10px;
    font-size: x-large;
    display: inline;
    border-width: thin;
    border-color: white;
    padding: 2em;
}