.form-url {
    margin-left: 35%;
}

.label-name {
    font-size: 25px;
}

.input-form {
    width: 30%;
    height: 25px;
}

.input-submit {
    width: 11%;
    height: 30px;
    position: relative;
    left: 2%;
}

.text-line {
    border-style: double;
    height: 350px;
    width: 60%;
    position: relative;
    left: 300px;
}

.method-button {
    margin-left: 40%;
    margin-top: 1%;
}

.post-method {
    margin-left: 2%;
}

.put-method {
    margin-left: 2%;
}

.delete-method {
    margin-left: 2%;
}